[Desktop Entry]
Name=ikhal
Categories=Calendar;ConsoleOnly;
GenericName=Calendar application
Comment=Terminal CLI calendar application
Exec=ikhal
Terminal=true
Type=Application
