[Desktop Entry]
Name=ikhal
Categories=Office;Calendar;ConsoleOnly;
GenericName=Calendar application
Comment=Terminal CLI calendar application
Icon=x-office-calendar
Exec=ikhal
Terminal=true
Type=Application
