*.pyc
*.swp
khal/version.py
khal.egg-info/
build/
dist/
.eggs/*
*.egg
*.db
.tox
.coverage
.cache
htmlcov
doc/source/configspec.rst
.mypy_cache/
.env
.venv
env/
venv/
.hypothesis/
.python-version
.dmypy.json
