repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-tzlocal
          - types-freezegun
          - types-pytz
          - types-setuptools
          - types-python-dateutil
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.15.2'
    hooks:
      - id: ruff
        args: ["--fix"]
