#/etc/khal/khal.conf.sample
#
# The default configuration file locations are:
# ~/.khal/khal.conf
# ~/.config/khal/khal.conf
#
# In this file you need to specify:
# - CalDAV Account settings
# - khal SQLite3 Database settings
# - Timezone and Time Display Formating Interface settings
# - Debug level
#
# Look at the end of this file for an example config.
#------------------------------------------------------------------------------
# ## CalDAV Account Configuration ##
#------------------------------------------------------------------------------
# [Account home]
# # Each Account configuration must start with an Account Tag
# # Each Account Tag must be unique
#
# server_type: caldav
# # Set the protocol khal should use
# #  * Default: caldav
# #
# # server_type: http
# # Setting the server_type to http makes this a simple read only resource
# #   * user: and password: can still be set if needed
# 
#
# user: stallman
# # Username to access the CalDAV Account
#
#
# password: GodSexLoveSecret
# # You can place your plain-text password here
# # If the password is not specified it will be asked for while syncing
# # If pykeychain is installed, it will store the passwords
#
#
# resource: https://exmaple.com/davical/caldav.php/jdoe/home/
# # Specify the URL for the CalDAV Calendar
#
#
# color: dark blue
# # Set the color for this CalDAV Account
# # If color is not set, events will be in your default terminal color
# #   * Colors may not be what you expect by their name.
# #   * Your terminal's terminfo and termcap define these values.
# #
# # Supported color names:
# # 'black' 'white' 'brown' 'yellow'
# # 'dark grey' 'dark green' 'dark blue'
# # 'light grey' 'light green' 'light blue'
# # 'dark magenta' 'dark cyan' 'dark red' 
# # 'light magenta' 'light cyan''light red' 
#
#
# ssl_verify: True
# # SSL Certificate Verification
# # This setting is unique for each account
# #
# # ssl_verify: True
# # The servers SSL Certificate will be verified.
# # If verification fails the account will not be synchronized
# #   * Default: True
# #
# # ssl_verify: False
# # SSL Certificate Verification will be disabled for this account.
# #
# # ssl_verify: /etc/ssl/certs/3b015462.0
# # Specify the CA Certificate used to sign the CalDAV Server's SSL Certificate
# # This is useful when using a Self Signed Certificate, or Corporate PKI
# ######
# ## Install SSL Certificate Authority Certificate to Trusted Key Store
# ##   * See, `man update-ca-certificates`
# #
# ## Create a directory for the CA Issuer in: /usr/local/share/ca-certificates
# # mkdir -p /usr/local/share/ca-certificates/MyCACerts
# #
# ## Copy the PEM encoded CA Certificates into the directory.
# ##   * Make sure to name the Certificates with extension: .crt
# # cp MyCACertificate.crt /usr/local/share/ca-certificates/MyCACerts
# #
# ## Add/Update SSL Trusted Key Store with: update-ca-certificates
# ## This utility should have been installed along with OpenSSL
# # update-ca-certificates --verbose
# #
# ## You will need the Certificate Hash for the new CA Certificate
# # _C_HASH=`locate c_hash |grep ssl/misc`
# # chmod +x ${_C_HASH}
# # ${_C_HASH} /usr/local/share/ca-certificates/MyCACert/MyCACertificate.crt
# #
# ## Almost done ;)
# ## Now you can add the, verify: line for this CalDAV Account
# ## The file name will be the Certificate Hash
# ## The Path will be, /etc/ssl/certs
# #
# # ssl_verify: /etc/ssl/certs/21c04162.0
# #
# ######
#
#------------------------------------------------------------------------------
# ## khal SQLite3 Database Configuration ##
#------------------------------------------------------------------------------
#
# [sqlite]
# # This configuration file must have a [sqlite] Tag
# 
# path: ~/.khal/khal.db
# # This specifies the location of the khal SQLite3 Database file
# #   * Default: ~/.local/share/khal/khal.db
#
#------------------------------------------------------------------------------
# ## Time Zone and Time Display Formating Configuration ##
#------------------------------------------------------------------------------
#
# [default]
# # This configuration file must have a [default] Tag
#
# local_timezone: Pacific/Honolulu
# # Set the Local Timezone
# #   * All date are shown in the Local Timezone
#
# default_timezone: Pacific/Honolulu
# # Set the Default Timezone
# # The Default Timezone is used for new events added via khal --new
# # It is also used if vCal datetime's timezone is not understood
# #
#
# timeformat: %H:%M
# dateformat: %m-%d
# longdateformat: %Y-%m-%d
# datetimeformat: %m-%d %H:%M
# longdatetimeformat: %Y-%m-%d %H:%M
# # Set the format Time and Date should be displayed in by khal
# #   * Long version should contain the current year
# #
# # Specify date/time in standard strftime format
# # http://strftime.net/
# #   * Example date in ISO-8601 format, "American"
#
# encoding: utf-8
# # Enable UTF-8 encoding
# #   * Set this if your terminal is using to utf-8
#
# unicode_symbols: True
# # Enable unicode symbols to display event properties
# # Set this to False if your terminal's character set dose not support them
# #   * Default: True
#
# firstweekday: 6
# # Set the first day of the week, 0 is Monday, 6 is Sunday
#
#------------------------------------------------------------------------------
# ## Debug Level ##
#------------------------------------------------------------------------------
#
# DEBUG: 0
# # Specify the Default Debug level (only 0 and 1 are supported at the moment)
# 


##
## Example Configuration
##
[Account home]
user: jdoe
password: 2342
resource: https://example.com/davical/caldav.php/jdoe/home/
color: dark blue

[Account work]
user: doe
resource: https://examp.le/owncloud/remote.php/caldav/calendars/doe/work
ssl_verify: /etc/ssl/certs/3b015462.0

[Account simple]
server_type: http
resource: https://test.tld/calendars/meetings.ics
ssl_verify: False
user: XXX
password: XXX

[sqlite]
path: ~/.khal/khal.db

[default]
local_timezone: Europe/Berlin
default_timezone: America/New_York

timeformat: %H:%M
dateformat: %d.%m.
longdateformat: %d.%m.%Y
datetimeformat: %d.%m. %H:%M
longdatetimeformat: %d.%m.%Y %H:%M

firstweekday: 0

DEBUG: 0
