# default places for the config file are ~/.khal/khal.conf and
# ~/.config/khal/khal.conf
# specify as many Accounts as you want
[Account home]
user: jdoe
# if the password is not specified it will be asked for while syncing
# and if pykeychain is installed passwords will be stored there
passwd: 2342
resource: https://exmaple.com/davical/caldav.php/jdoe/home/
# supported color names are
# 'black' 'dark red' 'dark green' 'brown' 'dark blue' 'dark magenta' 'dark
# cyan' 'white' 'light grey' 'dark grey' 'light red' 'light green' 'yellow'
# 'light blue' 'light magenta' 'light cyan'
# the default ANSI colors (may not actually have the color they are named for,
# depending on how your termial emulator is setup) if color is not set, events
# will be in your default terminal color
color: dark blue

[Account work]
user: doe
resource: https://blobhal.de/owncloud/remote.php/caldav/calendars/doe/work
# verify controls SSL cert checking
# verify can be set to True (default), False (No SSL certificates are checked,
# or to a path to a pem cert
verify: /home/jd/.khal/cacert.pem

[Account simple]
# setting the type to http (default is caldav) makes a simple read only syncer
# user and passwd MUST still be set (to anything) even if it is auth isn't needed
type: http
resource: https://test.tld/calendars/meetings.ics
verify: False
user: XXX
passwd: XXX

[sqlite]
# the default location for the db is 
# ~/.local/share/khal/khal.db
path: /home/jd/.khal/khal.db

[default]
# all dates are shown in local time, defined by local_timezone
local_timezone: Europe/Berlin
# if start and end datetimes are either 'floating' or the timezone information
# is not understood, default_timezone is used
# this is also the timezone used for new events added via khal --new
default_timezone: America/New_York

# these formats are used for displaying and entering date and times
# the long version should contain the current year
# use the standard format codes for strftime,
# see http:// for examples  TODO include link to python site when up
timeformat: %H:%M
dateformat: %d.%m.
longdateformat: %d.%m.%Y
datetimeformat: %d.%m. %H:%M
longdatetimeformat: %d.%m.%Y %H:%M

# the encoding of your terminal emulator
# encoding: utf-8

# by default, khal uses unicode symbols to display certain event properties set
# to False if you do not want this (e.g. your character set does not support
# these symbols
# unicode_symbols: True

DEBUG: 0
